body {
  background: #F1F3FA;
  background-image: url(../img/back.png);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 57px;
}

/*----------------navbar--------------*/

.navbar {
  background-color: #0F8EF9;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 5px black;
}

.navbar .oi {
  position: relative;
  width: 30px;
  font-size: 24px;
  top: 3px;
  line-height: 12px;
}

.navbar .oi-menu {
  top: 8px;
}

.navbar .oi .badge {
  font-size: 0.75rem;
  position: absolute;
  right: -5px;
  font-family: "Poppins", sans-serif;
  top: -5px;
}

.navbar .btn-default {
  background-color: #f5d37d;
}

.nav-item .dropdown-toggle:after {
  display: none;
}

#search {
  width: 25rem;
}

#collapseExample {

}


/*----------------navbar---------------*/


/*------------- colabmain1 ------------*/

#colabmain1 {
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 0px 3px grey;
  margin-top: 25px;

  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);

}

#colabmain1 #home img {
  width: 125px;
  border-radius: 50%;
  border: solid;
  border-width: 5px;
  border-color: #555555;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

#colabmain1 #dashboardbtntabs a {
  color: #555555;
}

#colabmain1 #discussions a {
  color: #555555;
}

#colabmain1 #dashboardbtntabs .active {
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

#colabmain1 #discussions .active {
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

#colabmain1 #dashboardbtntabs span {
  margin-right: 5px;
}

#colabmain1 #discussions img {
  width: 20px;
  margin-right: 5px;
}

#colabmain1 h1 {
  margin-top: 10px;
}


#dashboard #buttonplay {
  margin-top: 5px;

}

#dashboard #soundWave {
  margin-top: 15px;

}


input[type="radio"] {
    visibility:hidden;
}

.tombolplay .btn {
}

.tombolplay .btn.active {                
  display: none;    
}

.tombolplay .btn span:nth-of-type(1)  {             
  display: none;
}
.tombolplay .btn span:last-child  {             
  display: block;   
}

.tombolplay .btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.tombolplay .btn.active span:last-child  {              
  display: none;      
}

#buttonplay img{
  margin-top: 25px;
  margin-left: -25px;
  width: 50px;
}


#kelompokdetail {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 0.1px solid;
  border-bottom: 0.1px solid;
  border-color: #efeded;
}

#listtoolmusik {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -15px;
  margin-right: -15px;
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
}



#namatoolmusik h5 {
  padding-left: 15px;
  padding-top: 6px;
}

#namatoolmusik .btn {
  box-shadow: 0px 0px 5px grey;
}

#addtrack {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 0.5px solid;
  border-color: #efeded;
}

/*------------- colabmain1 ------------*/

/*------------- latest activity -------------*/

#latesactivitycontainer {
  margin-top: 30px;
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 0px 3px grey;

  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
}

#latesactivitybody {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

#latesactivitycontainer h3 {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#latesactivity {
  border-bottom: 0.5px solid;
  border-color: #efeded;
}

#listactivity {
  border-right-width: 0px;
  border-left-width: 0px;
}

#listactivity h5 {
  font-size: 15px;
}

#fotolatesactivity img {
  min-width: 50px;
  max-width: 50px;
  width: 50px;
}

/*------------- latest activity -------------*/

/*------------- copyright ------------*/

#copyright {
  margin-top: 30px;
  margin-left: 15px;
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 0px 3px grey;

  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);

}