body {
  background: #F1F3FA;
  background-image: url(../img/back.png);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 57px;
}

/*----------------navbar--------------*/

.navbar {
  background-color: #0F8EF9;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 5px black;
}

.navbar .oi {
  position: relative;
  width: 30px;
  font-size: 24px;
  top: 3px;
  line-height: 12px;
}

.navbar .oi-menu {
  top: 8px;
}

.navbar .oi .badge {
  font-size: 0.75rem;
  position: absolute;
  right: -5px;
  font-family: "Poppins", sans-serif;
  top: -5px;
}

.navbar .btn-default {
  background-color: #f5d37d;
}

.nav-item .dropdown-toggle:after {
  display: none;
}

#search {
  width: 25rem;
}

#collapseExample {

}

/*----------------navbar---------------*/

#containermenu {
  min-height: 500px;
}

/*---------------profile---------------*/

#profile{
  border: solid;
  border-width: 1px;
  border-color: grey;

  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
}

#foto {
  background-color: #0F8EF9; 
}

#foto img {
  border-radius: 50%;
  margin-top: 20px;
  border: solid;
  border-width: 5px;
  border-color: #f6f6f6;
  cursor: pointer;
}

#nama {
  background-color: #0F8EF9;
}

#nama h2 {
  padding-top: 5px;
  color: #f6f6f6;
  font-family: "Poppins", sans-serif;
}

#status {
  margin-bottom: 45px;
  font-family: "Poppins", sans-serif;
}

#status h3 {
  padding-top: 5px;
  font-size: 20px;
}

#status h5 {
  font-size: 15px;
}


#listener, #upload, #likes, #colab {
  border: solid;
  border-width: 0.5px;
  border-color: grey;
}

/*uploadfile*/

#uploadfile {
  font-family: "Poppins", sans-serif;
}

#uploadfile img {
  width: 120px;
  cursor: pointer;
}


.zoom {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.zoom:hover {
    transform: scale(1.2);
    top: -30px;
}

/*------------listlagufile-----------*/

#listlagu {
  background: rgba(1,1,1,0.2);

}
/*-card list*/

#putarlagu {
  height: 480px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#logolistmusik img{
  padding-top: 9px;
  width: 80px;
}

input[type="radio"] {
    visibility:hidden;
}

.tombolplay .btn {
}

.tombolplay .btn.active {                
  display: none;    
}

.tombolplay .btn span:nth-of-type(1)  {             
  display: none;
}
.tombolplay .btn span:last-child  {             
  display: block;   
}

.tombolplay .btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.tombolplay .btn.active span:last-child  {              
  display: none;      
}

#logolistmusikplay .tombolplay{
  margin-left: -25px;
}

#logolistmusikplay img{
  padding-top: 25px;
  width: 50px;
}

#commentlikeicon img {
  width: 20px;
  margin-right: 5px;
}

#card {
  box-shadow: 1px 1px 5px 0.1px black;
  background: rgba(255, 255, 255, 0.25);
}


#card h4{
  margin-top: 15px;
}

#card p{
  margin-top: -15px;
}


.scrollable {
  height: 480px;
  overflow: scroll;

}

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background: rgba(1,1,1,0.2);
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background: rgba(1,1,1,0.2);
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: rgba(1,1,1,0.2);
}

/*card list*/

/*musik*/

#putarlagu2 {
  height: 100%;
}

#putarlagu2 .card {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.tombolplay2{
 margin-top: 0px;
}

.tombolplay2 input {
 margin-top: 20px;
 margin-left: -15px;
}

#buttonplaypause img {
  width: 39px;
}

.tombolplay2 .btn.active {                
  display: none;    
}

.tombolplay2 .btn span:nth-of-type(1)  {             
  display: none;
}
.tombolplay2 .btn span:last-child  {             
  display: block;   
}

.tombolplay2 .btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.tombolplay2 .btn.active span:last-child  {              
  display: none;      
}

/*-----------------timeline-----------*/

/*button*/
.btn-1 {
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 5px grey;
  border-radius: 15px;
 }

.btn-1:hover {
  background-position: right center; 
}

.btn-1 {
  background-color: #0F8EF9;
}

#sidekanan {
  background: rgba(1,1,1,0.2);
}

#menubutton {
  margin-top: 15px;

}

#timeline {
  color: #f6f6f6;
  background: rgba(1,1,1,0.2);
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#fotouser img {
  width: 50px;
}

#timelineCard {
    margin-top: -8px;
    border-right-style: none;
    border-left-style: none;
}

#timelineCard h5 {
  padding-top: 5px;
  font-size: 15px;
}

#timeline .scrollable {
  height: 275px;
  overflow: scroll;
  overflow-x: hidden;
}


